@import '_variables.scss';

*
{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.container
{
    display: flex;
    justify-content: flex-end;
    margin: 2% 5%;
    .product-page-logo
    {
        margin-right: auto;
        text-decoration: none;
        color: $primaryColor;
        font-size: 2.5rem;
    }
    .buttons
    {
        border-color: $primaryColor;
        background-color: $secondaryColor;
        border-radius: 25px;
        padding: 10px 25px;
        cursor: pointer;
        margin-top: 15px;
        transition: all .2s ease-in-out;
        &:first-of-type
        {
            margin-right: 20px;    
        }
        &:hover
        {
            background-color: $primaryColor;
            color: $secondaryColor;
            box-shadow: 0 0 20px 8px $shadowColor;
            transform: scale(1.1);
        }
    }
}

.product
{
    padding: 40px;
    box-shadow: 0 0 20px 8px $shadowColor;
    margin: 20px;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    &:hover
    {
    transform: scale(1.1);
    }
}

.container-product
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form
{
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    .form-container
    {
        display: flex;
        justify-content: space-between;
        input
        {
            border: 1px solid $inputColor;
        }
    }
    .details
    {
        position : relative;
        left:0px;
        top: 20px;
        display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
    }
    label
    {
        margin: 20px;
    }
}

input
{
vertical-align: middle;
padding: 5px 20px 5px 10px;
}

.div-container
{
    display: flex;
    justify-content: center;
    .div-line
    {
        width: 6px;
        height: 2px;
        background: $primaryColor;
        border-radius: 3px;
        animation: grow 2s 1 forwards ease;
        margin: 25px 0;
    }
}

@keyframes grow
{
    100%
    {
        width: 95%;
    }
}