* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 2% 5%;
}

.container .product-page-logo {
  margin-right: auto;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}

.container .buttons {
  border-color: black;
  background-color: #fcfafa;
  border-radius: 25px;
  padding: 10px 25px;
  cursor: pointer;
  margin-top: 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.container .buttons:first-of-type {
  margin-right: 20px;
}

.container .buttons:hover {
  background-color: black;
  color: #fcfafa;
  -webkit-box-shadow: 0 0 20px 8px #d0d0d0;
          box-shadow: 0 0 20px 8px #d0d0d0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product {
  padding: 40px;
  -webkit-box-shadow: 0 0 20px 8px #d0d0d0;
          box-shadow: 0 0 20px 8px #d0d0d0;
  margin: 20px;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.product:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% 10%;
}

.form input {
  vertical-align: middle;
  padding: 5px 20px 5px 10px;
}

.form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .form-container input {
  border: 1px solid #ddd;
}

.form .details {
  position: relative;
  left: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form label {
  margin: 20px;
}

.div-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div-container .div-line {
  width: 6px;
  height: 2px;
  background: black;
  border-radius: 3px;
  -webkit-animation: grow 2s 1 forwards ease;
          animation: grow 2s 1 forwards ease;
  margin: 25px 0;
}

@-webkit-keyframes grow {
  100% {
    width: 95%;
  }
}

@keyframes grow {
  100% {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */